@{
     ViewData["Title"]="Index";
}
<br>

<a href="/Admin/Admission/AddStudent" class="btn btn-primary col-md-3">Add Student</a><br><br>
<a href="/Admin/Admission/EditStudent" class="btn btn-primary col-md-3">Edit Student</a><br><br>
<a href="/Admin/Admission/ShowAllStudents" class="btn btn-primary col-md-3">Show All Student</a><br><br>
