<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>        

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <style>
        .navbar-inverse {
            border-color: #337ab7;
        }

        #slider {
                width: 500px;
                top: 150px;
                position: absolute;
            }

            #header {
                background-color: white;
                width: 333px;
                height: 520px;
                position: absolute;
                right: 0;
                border: 1px solid #d8d8d8;
                margin-left: 40px;
                padding: 20px 40px;
                border-radius: 3px;
                box-shadow: 0 0 8px gray;
            }

            #sidebar {
                position: absolute;
                top: 100px;
                left: 113px;
                box-shadow: 0 0 8px gray;
            }

            #sidebar1 {
                position: absolute;
                top: 100px;
                left: 113px;
                box-shadow: 0 0 8px gray;
            }

            h3 {
                font-family: 'Roboto Slab',serif;
            }

            .InputField {
                margin-top: 10px;
                padding: 6px;
                width: 100%;
                font-size: 15px;
                border-radius: 2px;
                border: 3px solid #98d0f1;
            }

            h4 {
                font-size: 15px;
            }

            div#title {
                position: absolute;
                top: 300px;
                left: 650px;
            }

            #selection {
                padding: 6px;
                width: 100%;
                font-size: 15px;
                border-radius: 2px;
                border: 3px solid #98d0f1;
            }

            textarea {
                padding: 6px;
                font-size: 15px;
                border-radius: 2px;
                border: 3px solid #98d0f1;
                margin-top: 10px;
                height: 80px;
                width: 100%;
            }

            #btn {
                background: #2bc1f2;
                border: none;
                color: #fff;
                width: 100%;
                font-size: 22px;
                font-weight: bolder;
                padding: 8px 0;
                border-radius: 3px;
                cursor: pointer;
                margin-top: 25px;
            }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" span style="background-color:#101010;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a asp-area="Admin" asp-controller="Admission" asp-action="Index" style="font-size:18px"> Home</a>
                    <li>
                        <script src="~/js/PopHover.js"></script>
                        <a href="#" data-popover="true" data-html=true data-placement="bottom" style="font-size:18px" data-content='<a href="http://localhost:2473/Admin/Admission/AddStudent">New Admission</a><br/><br/><a href="http://localhost:2473/Admin/Admission/EditStudent">Edit Admission</a><br/><br/><a href="http://localhost:2473/Admin/Admission/ShowAllStudents">ShowAllAdmissions</a><br/><br/><a href="http://localhost:2473/Admin/Admission/DeleteStudent">Delete Admission</a>'>
                            Admission
                        </a>
                    </li>
                </ul>
                @await Html.PartialAsync("_UserHeader")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div id="slider" style="right:-342px;">
            <div id="sidebar" onclick="open_panel()">
                <img src="~/images/abc.png">
            </div>
            <div id="header">
                @using (Html.BeginForm("SendNotification", "Notification"))
                {
                    <br /><br /><br />
                    <select id="selection" name="selection" onchange="hideAppNo(this.value)">
                        <option value="" disabled selected style="display: none;">Select your option</option>
                        <option value="1">Send To Individual Student</option>
                        <option value="2">Send By Group</option>
                        <option value="3">Send To AllStudents</option>
                    </select><br />
                    <div id="appno" style="display:none">
                        <input placeholder="Application/Aadhar No" class="InputField" type="text" name="AppNo_AadharNo">
                    </div>
                    <div id="Groups" style="display:none">
                        <br />
                        <label>Groups</label> <br />
                        <input type="checkbox" name="groups" value="MPC">MPC<br>
                        <input type="checkbox" name="groups" value="Bipc">Bipc<br>
                        <input type="checkbox" name="groups" value="MEC">MEC<br>
                        <input type="checkbox" name="groups" value="CEC">CEC<br>
                    </div>
                    <div id="subject" style="display:none">
                        <textarea type="text" placeholder="Message" id="description" name="description"></textarea><br />
                    </div>
                    <div>
                        <button id="btn" type="submit" class="btn btn-info">
                            <span class="glyphicon glyphicon-se"></span> Send Notification
                        </button>
                    </div>
                }
            </div>
        </div>
        <footer style="position:fixed;top:95%">
            @*<p>&copy; 2016 - Innovative Software Solutions</p>*@
        </footer>
    </div>


    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
